/* CSS Document */
body{font-family:Arial; font-size:14px; background:#f0fffa; color:#330033;}
img{border:0px; margin:0px; padding:0px; vertical-align:middle;}
ul, li{margin:0px; padding:0px;}
input{color:#330033;}

.span_link, a{color:#0099FF; cursor:pointer; text-decoration:underline;}
.span_link:hover, a:hover{color:#0066CC;}
.span_link_black{color:#330033; cursor:pointer; text-decoration:underline;}
.span_link_black:hover, #topnotice li:hover{color:#FF3300;}
.span_link_red{color:#FF3300;}
.span_link_red:hover{color:#0066CC;}
.input_border{border:1px solid #626262;}

.bd_b_1s_5eacd1{border-bottom:1px solid #5eacd1;}
.bd_b_1s_9e9e61{border-bottom:1px solid #9e9e61;}
.bd_b_1d_996{border-bottom:1px dashed #996;}
.bg_F7F7F7{background:#F7F7F7;}
.bg_edffc9{background:#edffc9;}
.bg_E0E4FE{background:#E0E4FE;}
.bd_9e9e61{border:1px solid #9e9e61;}
.bd_0000ff{border:1px solid #0000FF;}
.bd_5eacd1{border:1px solid #5eacd1;}
.c_txt_aln{text-align:center;}
.l_txt_aln{text-align:left;}
.r_txt_aln{text-align:left;}
.bold_font{font-weight:bold;}
.inline_table{display:inline-table;}

.valign_top{vertical-align:top;}
.valign_middle{vertical-align:middle;}
.valign_bottom{vertical-align:bottom;}
/*
 * 两边对齐的 css
 */
.align_justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.align_justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}
