@CHARSET "UTF-8";
@import "./../../node_modules/chinese-traditional-color/dist/chinese-traditional-color.scss";

.modell-highlighter {

	pre{
		font-family:Consolas;
		font-size:11pt;
		padding:5px 5px 5px 25px;
		margin: 0px;
		max-height:500px;
		overflow: auto;
		background: $CTC_AutumnEquinox_qianyun;
	}
	ol {
		display:block;
		margin:0px;
		list-style:decimal;
		margin: 0px;
	}
	li {
		vertical-align:middle;
		border-left:3px solid $CTC_HeatEnd_congqian;
		padding-left:5px;
		height: 22px;
		line-height: 22px;
		color: $CTC_AutumnEquinox_ruancui;
	}
	li:nth-child(2n-1) {
		background: $CTC_SummerSolstice_yuping;
	}

	/* 红色系：正则表达式、CSS# */
	.regexp, .css_id{
		color:$CTC_SringBeginning_shanhuhe;
	}

	/* 橙色系：字符串、字符 */
	.string, .data_val{
		color:$CTC_LesserFullness_yujinqun;
	}
	.css_pesudo_class, .character{
		color:$CTC_HeatEnd_laofushen;
	}

	/* 黄色系：注释、文档 */
	.comment{
		color:$CTC_LesserFullness_yuanzhi;
		font-style:oblique;
	}
	.doc, .xml_cdata{
		color:$CTC_ColdDew_xingzi;
	}

	/* 绿色系：数字、CSS类、预定义、Annotation、描述信息 */
	.number{
		color:$CTC_LesserFullness_shifa;
	}
	.css_class, .define{
		color:$CTC_RainWater_chunchen;
	}
	.description, .data_key{
		color:$CTC_SummerBeginning_shuilongyin;
	}

	/* 蓝色系：关键字、内置函数、变量  */
	.keyword, .xmltag{
		color:$CTC_SpringEquinox_qingming;
		font-weight: bold;
	}
	.builtin_func, .xml_doctype{
		color:$CTC_HeatEnd_tianshuibi;
	}
	.builtin_var, .filetype{
		color:$CTC_GrainRain_nuolan;
		font-weight: bold;
	}


	/* 紫色系：括号、TODO、CSS@ */
	.bracket{
		color:$CTC_PureBrightness_chengzi; margin:0px 2px;
	}
	.css_at, .todo{
		color:$CTC_HeatEnd_mujin;
	}

	.css_name, .keyword{
		font-style:italic;
	}
	.keyword{
		margin-right:1px;
	}
	.css_id, .css_class,
	.bracket, .todo, .xml_doctype, .filetype{
		font-weight:bold;
	}

	.code_list{
		list-style-type:decimal;
	}

}



